@import 'styles/vars';

.btn {
  border-radius: 8px;
  box-shadow: 0 9px 40px -4px rgba(15, 48, 168, 0.18);
  height: 48px;
  font-size: 16px;
  transition: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:focus {
  outline: none;
}

.button-primary, .button-primary:focus {
  background-color: $BlueRibbon;
  border: 1px solid $BlueRibbon;
  color: white;
  transition: ease-in;
}

.button-primary:hover {
  background: $ToreaBay;
}

.button-secondary, .button-secondary:focus {
  background-color: $Zumthor;
  border: 1px solid $Zumthor;
  color: $BlueRibbon;
  box-shadow: none;
}

.button-secondary:hover {
  background: $Zumthor;
}

.button-outline {
  background-color: white;
  color: $CatskillWhite;
  border: 1px solid $CatskillWhite;
  box-shadow: 0 2px 10px 0 rgba(134, 146, 164, 0.05);
}

.button-default {
  background-color: transparent;
  border: 1px solid transparent;
  color: $CodGray;
}

.button-base {
  background: transparent;
  border: transparent;
  padding: 0;
  color: $CodGray;
  display: flex;
  align-items: center;
}

.button-sell {
  background-color: $Rose;
  border: 1px solid $Rose;
  color: white;
}

.button-buy {
  background-color: $Limeade;
  border: 1px solid $Limeade;
  color: white;
}


.btn:disabled {
  background-color: $CatskillWhite;
  border: 1px solid $CatskillWhite;
  color: $RollingStone;
  box-shadow: none;
}
