@import "styles/vars";

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  font-family: 'SofiaPro';
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;

  li {
    margin-right: 40px;
  }

  li a {
    font-size: 16px;
    font-weight: 500;
    color: $RollingStone;
    text-decoration: none !important;

    :global(.icon-external) {
      margin-left: -7px;
      margin-top: -2px;
    }
  }

  li a.active-link {
    color: $CodGray;
  }
}

@media (max-width: $sm) {
  .list > li {
    margin-right: 15px;
  }

  .layout {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn {
  width: 135px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}