@import 'styles/vars';

.table {
  margin-bottom: 0 !important;

  thead th {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: $Manatee;
    white-space: nowrap;
    padding-left: 0;
  }

  tbody td {
    border-top: none;
    white-space: nowrap;
    color: $CodGray;
    font-weight: 400;
    font-size: 12px;
    padding: 10px 10px 10px 0;
  }

  tbody tr {
    border-bottom: 1px solid $CatskillWhite;
  }


  thead tr th {
    border-bottom: none !important;
  }

  td a,
  td a:hover {
    text-decoration: none !important;
    //color: @PersianBlue;
  }
}

.td-status {
  display: flex;
  align-items: center;
  margin-top: -4.5px;
}

.table-scroll {
  // overflow-x: scroll;
}

.table-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.table-scroll::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $CatskillWhite;
  cursor: pointer;
}
