@import 'styles/fonts';
@import 'styles/vars';

body {
  background-color: $AthensGray !important;
}

.main {
  font-family: "SofiaPro", sans-serif !important;
}

.other {
  font-family: Roboto, sans-serif !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invisible-scroll::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.invisible-scroll {
  scrollbar-width: none;
}

.layout {
  padding-right: 25px;
  padding-left: 25px;
}

.color-buy {
  color: $Limeade !important;
}

.background-buy {
  background-color: $Limeade;
}

.color-sell {
  color: $Rose !important;
}

.background-sell {
  background-color: $Rose;
}

.color-gray {
  color: $RollingStone !important;
}